.desc {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 10rem;
  max-width: 10rem;
  max-height: 16rem;
  height: 16rem;
}
