.card {
  text-align: center;
  margin: 1rem auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  background-color: white;
  background-position: center;
  height: max-content;
  width: max-content;
  background-size: contain;
  background-repeat: no-repeat;
}

.card.enemyCard {
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  min-height: 150px;
  min-width: 150px;
}
